.header-image-container{
    padding: 5% 0;
    width: 100%;
    height: auto;
    margin: 20px 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-image-full{
    width: 100%;
    height: auto;
}

.header-image-full.margined{
    margin: 20px 0;
}

.gallery-placeholder{ width: 100%; }